<div class="flex p-2" >
 <img *ngIf="page ==1" (click)="page =0; title = 'File Upload & Image Preview'" src="../../../assets/icons/back_icon.svg" alt="back" class="flex mr-4 cursor-pointer" style="color: blue;">
  <h2 >{{title}}</h2>

</div>
 
<!-- Upload  -->
<form *ngIf="page ==0" id="file-upload-form" class="uploader">
  <input id="file-upload" (change)="onFileSelected($event)" type="file" name="fileUpload" accept="pdf/*" />

  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>

    </div>
  </label>

  <!-- <div *ngFor="let file of allFiles">
    <p>{{ file.name }}</p>
  </div> -->
  <div *ngFor="let file of allFiles" class="file-item bg-white">
    <p>Name: {{ file.name }}</p>
    <p>Size: {{ file.metadata.size }}KB</p>
    <p>Type: {{ file.metadata.mimetype }}</p>
    <div class="flex button-con"> <div class="primary-button"  (click)="downloadFile(file.name)">Download</div>
    <div class="primary-button" (click)="deleteFile(file.name)"><h1 class="text-white">Delete</h1></div>
    <div class="primary-button" (click)="previewFile(file.name)">View File</div>
    
      </div>
</div>


</form>


<div  #viewer class="webViewer"></div>
