<!-- <div class="row flex-center flex">
    <div class="col-6 form-widget" aria-live="polite">
      <h1 class="header">Supabase + Angular</h1>
      <p class="description">Sign in via magic link with your email below</p>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-widget">
        <div>
          <label for="email">Email</label>
          <input
            id="email"
            formControlName="email"
            class="inputField"
            type="email"
            placeholder="Your email"
          />
        </div>
        <div>
          <button type="submit" class="button block" [disabled]="loading">
            {{ loading ? 'Loading' : 'Send magic link' }}
          </button>
        </div>
      </form>
    </div>
  </div> -->
  <section class="login-main-con">
    
    <div class="main-content">
        <div  class="side-con">
        </div>
        <div class="content-con">
            <img src="./../../../assets/img/logo.png" alt="login logo" class="img p-4 rounded-md h-24 w-25">
            <h6 class="main-heading font-bold justify-center text-4xl mb-5">LOGIN</h6>
            <p class="flex justify-center text-gray mb-5">Sign in and start Editing!!</p>
            <div class="form-container">
                <app-textfield
                [type]="'email'"
                [icon]="'./../../../assets/icons/user.svg'"
                [placeholder]="'Email'"
                [value]="email"
                [backgroundColor]="'#9BA5B710'"
                (valueChange)="onChangeEmail($event)"
                ></app-textfield>
                <app-textfield
                [type]="showPassword ? 'Text' : 'Password'"
                [icon]="'./../../../assets/icons/password_lock.svg'"
                [placeholder]="'Password'"
                [value]="password"
                (valueChange)="onChangePass($event)"
                (onSuffixIconClick)="onShowPass()"
                [suffixIcon]=" showPassword ?  './../../../assets/icons/visibility.svg' : './../../../assets/icons/visibility_off.svg'"
                [backgroundColor]="'#9BA5B710'"
                ></app-textfield>
                <div class="flex self-end">
                    <a [routerLink]="['/auth/forgot']" class="font-semibold mb-4">Forgot Password?</a>
                </div>
                <button class="primary-button" (click)="login()">Login</button>
                <button class="text-purple-400 mb-4 ml-1 font-semibold cursor-pointer" (click)="onMagicLickSubmit()">Login with magic Link!</button>
            </div>
            <div>
              <h1 class="flex text-sm pt-2">Need an account?<a [routerLink]="['/auth/signup']" class="text-primary mb-4 ml-1 font-semibold cursor-pointer">Sign Up!</a>
              </h1>
          </div>
        </div>
    </div>
</section>