<section class="login-main-con">

    <div class="main-content">
        <div class="side-con">
        </div>
        <div class="content-con">
            <img src="./../../../assets/img/logo.png" alt="login logo" class="bg-blue-500 rounded p-4 h-20">
            <h6 class="main-heading font-bold justify-center text-4xl mb-5 uppercase">create new password </h6>
            <h6 class="justify-center  mb-10 ">Set your new password so you can login securely!</h6>
            <div class="form-container">
                <app-textfield [type]="showPassword ? 'Text' : 'Password'" [icon]="'./../../../assets/icons/lock_reset.svg'"
                [suffixIcon]=" showPassword ?  './../../../assets/icons/visibility.svg' : './../../../assets/icons/visibility_off.svg'" [placeholder]="'New Password'"
                 (valueChange)="onChangePass($event)"
                 (onSuffixIconClick)="onShowPass()"    
                 [backgroundColor]="'#9BA5B710'" class="mb-4"></app-textfield>
            
                <app-textfield [type]="showPassword ? 'Text' : 'Password'"[icon]="'./../../../assets/icons/lock_reset.svg'" [placeholder]="'Confirm Password'"
                     [backgroundColor]="'#9BA5B710'" (valueChange)="onConfirmPass($event)" class="mb-10"
                     (onSuffixIconClick)="onShowPass()"
                     [suffixIcon]=" showPassword ?  './../../../assets/icons/visibility.svg' : './../../../assets/icons/visibility_off.svg'"></app-textfield>
                <button class="primary-button" (click)="login()">Save</button>
              
            </div>
        </div>
        
    </div>
</section>
