<div class="main-header-con flex flex-row justify-end items-center white">
    <!-- <app-search-textfield class="flex flex-row justify-start  to-black" [placeholder]="'Search by shop name'"> </app-search-textfield> -->

    <a class="header-notification-icon cursor-pointer flex-row justify-end">
        <!-- <img src="./../../../assets/icons/notification_icon.svg" alt="Notification Icon" > -->
    </a>
    <div class="header-action-button">
        <span class="text-white p-4">{{userName}}</span>

        <div class="avatar-con mr-2 relative overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <img class="absolute w-full h-full text-gray-400" src="./../../../assets/icons/unknown_pic.svg" alt="Portrait">
        </div>
        <img class="icon pl-1 w-4" src="./../../../assets/icons/chevron_down.svg" alt="Chevron Down">
    </div>
</div>