<section class="login-main-con">

    <div class="main-content">
        <div class="side-con">
        </div>
        <div class="content-con">
            <img src="./../../../assets/icons/centric_login_logo.svg" alt="login logo" class="bg-blue-500">
            <h6 class="main-heading font-bold justify-center text-4xl uppercase mb-5">forgot password</h6>
            <p class="flex mb-6 justify-center align-middle text-center w-2/5 text-gray">Please enter your email/phone
                below and we will send you the OTP code.</p>
            <div class="form-container">
                <app-textfield (valueChange)="onChange($event)" [type]="'email'" [icon]="'./../../../assets/icons/user.svg'" [placeholder]="'Email'"
                    [value]="''" [backgroundColor]="'#9BA5B710'" class=""></app-textfield>
                    <div>
                        <h1 class="flex">Remember your password?<a [routerLink]="['/auth/login']" class="text-primary mb-4 ml-1 font-semibold cursor-pointer">Back to Login!</a>
                        </h1>
                    </div>
                <button class="primary-button" (click)="otpVerification()">Send</button>
            </div>
        </div>
    </div>
</section>